* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Helvetica';
  color: $dark-color;
}

body {
  background-color: $page-bg-color;
}

button {
  background: none;
  border: none;
}

ul {
  list-style: none;
}
