$shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
$shadow-green: 0px 22px 37px rgba(0, 0, 0, 0.2);

$green-color: #259609;
$green-color-darker: #1d7607;
$white-color: #FFFFFF;
$dark-color: #3e3e3e;
$yellow-color: #fff22d;
$blue-color: #00acec;

$page-bg-color: #f7f7f7;

$border-radius: 2px;

$card-line-height: 6px;

$cards-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);

$blocks-width__mob: 330px;
$cards-height__mob: $blocks-width__mob;